<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/test.css">
    <title>Playlist</title>
</head>

<body>
    <div class="edit-outline">
        <h1>What Movie Would You Like to add?</h1>
        <form action="/playlist" method="POST">
            Name: <input type="text" name="name" />
            <br>
            Paste playlist picture here: <input name="pic" id="genre-select" />
            <br>
            Tracks (Please format "Song by Artist" and separate songs by " , "): <textarea type="text" name="tracks"
                id="stream-select" rows="5" cols="33">
                </textarea>
            <input type="submit" value="Create Playlist">
        </form>

</body>

</html>