body {
    background-color: #8080bb ;
    color: #f2e9e4;
}
h1{
    margin-left: 30px;
}
li{
    display: inline-block;
    margin: auto 100px 30px 100px;
}
.coverpic{
    width: 200px;
    height: auto;
    padding: 15px;  
}
/* .carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
} */
.title{
    font-size: 75px;
    color: #c9ada7;
}
.edit-outline{
    display: flex;
    max-width: 500px;
    margin: auto;
}
.info{
    font-size: 50px;
}
.show{
text-align: center;
margin: 25px;
}
